.order {
    -fx-background-color: #E6D8C9;
    -fx-background-radius: 20;

    -fx-border-color: #111111;
    -fx-border-radius: 20;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 8, 0.3, 0, 3);

    -fx-cursor: hand;
}

.separator {
    -fx-background-color: #111111;
}

.complete-order-btn {
    -fx-background-color: #C69A6B; 
    -fx-text-fill: white; 
    -fx-font-size: 20px;
    -fx-font-weight: bold;   

    -fx-alignment: center;

    -fx-min-width: 200px;
    -fx-min-height: 40px;
    -fx-max-width: 200px;
    -fx-max-height: 40px;

    -fx-background-radius: 40;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.25), 5, 0.3, 0, 2);
}

.complete-order-btn:hover {
    -fx-cursor: hand;
    -fx-background-color: #B5835A; 
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

